name: CI
on:
  pull_request:
  push:
    branches: [main]
permissions:
  contents: read
  pull-requests: read
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.17.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    env:
      TEST_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      TEST_CACHE_NAME: "client-sdk-go-test"
    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install goimports
        run: go get golang.org/x/tools/cmd/goimports

      - run: goimports -l -w $(ls -d */*/ | grep -v "internal/protos/") ./momento
      - run: go mod tidy
      # If there are any diffs from goimports or go mod tidy, fail.
      - name: Verify no changes from goimports and go mod tidy
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            exit 1
          fi

      - name: Format
        run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

      # - name: Lint
      #   uses: golangci/golangci-lint-action@v2
      #   with:
      #     version: latest
      #     only-new-issues: true

      - name: Run test
        run: |
          go vet ./...
          go test -v ./momento
