name: On pull request
on:
  pull_request:
    branches: [main]

jobs:
  commitlint:
    runs-on: ubuntu-24.04
    steps:
      - name: Commitlint and Other Shared Build Steps
        uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  readme:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3

      - name: Verify README generation
        uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: Go
          template_file: ./README.template.md
          output_file: ./README.md
          dev_docs_slug: go

      - name: Verify CONTRIBUTING generation
        uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          sdk_language: Go
          template_file: CONTRIBUTING.template.md
          output_file: ./CONTRIBUTING.md
          dev_docs_slug: go

  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x

      - name: Install devtools
        run: make install-devtools

      - name: Lint
        run: make lint

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          only-new-issues: true
          skip-pkg-cache: true

      - name: Check for forbidden replace directives
        run: make check-no-replace

      # If there are any diffs from goimports or go mod tidy, fail.
      - name: Verify no changes from goimports and go mod tidy
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git diff
            exit 1
          fi

      - name: Build
        run: make build

      - name: Build examples
        run: make build-examples

  test:
    needs: build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    env:
      MOMENTO_API_KEY: ${{ secrets.ALPHA_API_KEY_V2 }}
      MOMENTO_ENDPOINT: "cell-alpha-dev.preprod.a.momentohq.com"
      V1_API_KEY: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x

      - name: Install devtools
        run: make install-devtools

      - name: Run docs examples
        run: make run-docs-examples

      - name: Run test
        run: make prod-test

  test-momento-local:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x

      - name: Install devtools
        run: make install-devtools

      - name: Start Momento Local
        run: |
          docker run --cap-add=NET_ADMIN --rm -d -p 8080:8080 -p 9090:9090 gomomento/momento-local --enable-test-admin

      - name: Run momento-local retry tests
        env:
          MOMENTO_PORT: 8080
        run: make test-retry
